.btn {
  width: 100%;
  border: 1px solid black;
  padding: 4px 8px;
  text-align: start;
  border-radius: 5px;
  transition: 0.3s ease;
}
.btn:hover:not([disabled]) {
  color: white;
  background-color: black;
}
.btn:disabled {
  cursor: no-drop;
}
.correct {
  background-color: rgba(70, 197, 155, 0.438);
}
.incorrect {
  background-color: rgba(231, 60, 60, 0.493);
}
